main {
    padding-top: 2%;
  }
  
  body {
    background-color: #082032;
  }
  
  header {
    background-color: #334756;
    padding-bottom: 2%;
    padding-left: 2%;
    border-bottom: solid;
    border-color: white;
    border: solid bottom white;
  }
  
  .home {
    padding-right: 2%;
  }
  
  .dashboard {
    padding-right: 2%;
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
  }
  
  .btnLogout {
    background: none;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
  }
  
  a:hover {
    color: #FF4C29;
  }
  
  .jumbo-tron {
    color: whitesmoke;
    font-size: 50px;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
  }
  
  .container {
    padding-top: 2%;
  }
  
  .post-box {
    border-style: solid;
    border-color: white;
    margin-top: 1%;
  }
  
  .title {
    background-color: #334756;
    border-bottom: solid;
    border-color: white;
  }
  
  .content {
    padding-top: 1%;
  }
  
  h2 {
    color: whitesmoke;
  }
  
  h4 {
    color: whitesmoke;
  }
  
  p {
    color: #FF4C29;
    font-weight: bold;
  }
  
  .user {
    color: whitesmoke;
  }
  
  .btn {
    color: #FF4C29;
    font-weight: bold;
    background-color: #334756;
  }
  
  textarea {
    height: 150px;
    width: 400px;
  }
  
  .btnDeletePost {
    background: none;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
  }
  
  .btnDeletePost:hover {
    color: #FF4C29;
  }